beautifulsoup4
fasttext
datasets
gensim
miniimagenettools
nltk
networkx
notebook
plotly
psycopg2-binary
pycocotools
PyMySql
seaborn
sqlalchemy
torch==1.4.0
syft==0.2.9
terminaltables
torchsummary
torchtext
torchvision
transformers
tqdm
wordcloud
xgboost
xlrd
